@media(min-width:770px){
    .logo{
        padding-left: 70px;
    }
}
.nav-item {
    margin-left: 40px;
}
.social-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.social-bar  {
    width: 40px;
    height: 100px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s ease;
}
.social-text {
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 10px;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
}
.social-item:hover .social-text {
    display: block;
}
@media(max-width:1200px){
    #social-bar{
        display: none;
    }
}
.head-1{
    font-size: 25px;
    background-color:#0052a1 ;
    text-align: center;
    margin-top: 100px;
    width: 350px;
    height: 50px;
    display: flex !important;
    color: white;
    justify-content: center !important;
}
.readmore{
   background-color: red;
   color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 150px;
    height: 40px;
}
.last-section{
    background-color:rgb(240, 220, 220);
}
.des{
    font-size: large;
}
.head-2{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
}
.logos{
    display: flex;
    justify-content: center;
}